#title{
	background-color: #ff4c68;

}
#features{
	background-color: #fff;
	position: relative;
	z-index: 1;


	padding:10% 10%;
}
body{
	font-family: 'Montserrat', sans-serif;
}
h1{
	
	font-family: 'Montserrat', sans-serif;
	color:white;
	font-size: 3rem;
	line-height: 1.5;

}
h2{
	font-family: 'Montserrat',sans-serif;
	font-size: 2rem;
	line-height: 1.5;
	font-weight: bold;
}
.w900{
	font-weight: 900;
}

.container-fluid{
	padding: 3% 15%;
}
.nav-link{
	font-family: 'Montserrat';
	font-weight: lighter;
	font-size: 1.2rem;
}
.navbar{
	padding: 0 0 3.5rem;
}
.card{
	
	height:400px;
}
.navbar-brand{
	font-family: 'Ubuntu';
	font-size : 2.5rem;
	font-weight: bold;
}
.mainimg{
	transform: rotate(30deg);
	width:60%;
	position: absolute;
	right: 30%;
}
.down-butn {
	margin: 3% 5% 10% 0%;
}
.icoh:hover{
	color:#ff4c68;
}
h3{
	font-family: 'Montserrat';
	font-weight: bold;
	font-size: 1.5rem;
}
.hlist{
	color:#8f8f8f;
}
.icoh{
	color: #ef8172;
	margin: 10% 0;
}

.testimonial-text{	
	padding: 5% auto;
	font-family: 'Montserrat';
	font-weight: bold;
	color: #fff;
	line-height: 1.5;
	font-size: 2.5rem;
}

#testimonials{
	padding: 10% 0;
	text-align: center;
	
	background-color: #ef8172;
}
.testimonial-image{
	width: 15%;
	border-radius: 100%;
	margin:5% auto;
}

#press{
	text-align: center;
	
	background-color: #ef8172;
}
.press-img{
	width: 15o
	l%;
	text-align: center;
	margin: 0 2.5%; 
	padding-bottom: 10%;
}
#pricing{
	padding: 5%;
	text-align: center;
}
.shortbtn{
	margin-top: 40px;
}

#cta{
	text-align: center;
	padding: 4% 5%;
	background-color: #ff4c68;
}
.ctafont{
	color: #fff;
	font-size: 3rem;
	width: 70%;
	margin:  6% auto 2%;
}
#footer{
	text-align: center;

}
.icons{
	margin: 5% auto 1%;
}
.iconsinner{
	margin: 1%;
}
.crtxt{
	margin: 1% auto ;
	font-family: 'Montserrat';
	color: #8f8f8f;
}
@media (max-width: 1028px){
	.mainimg{
		transform: rotate(0);
		position: static;
	}
	#title{
		text-align: center;
	}
}